@{
    ViewBag.Title = "Contact";
}
<h2>Reach us at:</h2>

<address>
    703, Silicon valley<br />
    Canal view, nadiad-387001<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dhairya2308@gmail.com">dhairya2308@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:darshan.gohel619@gmail.com">darshan.gohel619@gmail.com</a>
</address>