@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:black;color:white;">
    <center>
        <h1 style="font-family: 'Lobster';">POLL : KHOL</h1>
        <h2>
            An Digital E - Voting System    
        </h2>

        
    </center>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="jumbotron" ><br>
    <div class="row">
        <p>
        Online polls are quick and easy with Poll Kholl. In just a few minutes you can vote for ongoing poll for any occasion. Once complete, you can easily view the results of your free online
        voting system to make any additions or edit your original content.</p>
    </div><br><br>
    <div class="row">
        <img src="~/Content/Images/bkg.jpg" alt="Home Page" />
    </div><br><br>
    <div class="row">
        <div class="col-sm-4" style="padding:18px; text-align:justify;">
            <h3>Immutable and anonymous</h3><br>
            Polys is based on blockchain technology, which makes voting 100% secure and immutable. Voter anonymity is guaranteed by transparent crypto algorithms.
        </div>
        <div class="col-sm-4" style="padding:18px;">
            <h3>
                Easy to organize, easy to vote
            </h3>
            With Polys, creating a vote is intuitive, easy and fast. No coding knowledge is required. Voting can be conducted on the go on a smartphone or tablet.
        </div>
        <div class="col-sm-4" style="padding:18px; text-align:justify;">
            <h3>Transparent and auditable</h3><br />
            One of the main characteristics of blockchain technology is its transparency. The crypto algorithms that we use on top of it are merely mathematics.
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    
</div>*@